.background10{
    height:650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background120{
    height:650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background190{
    height:780px;
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background590{
    height:860px;
    
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}


.background993{
    height:960px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background993b{
    height:960px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background990{
    height:1000px;
    
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background990i{
    height: auto !important;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background990i2{
    
    height: auto !important;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background990i2Menu{
    
    height: auto !important;
    min-height: 1000px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background990i2b5{
    
    height: auto !important;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}


.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}


.background990ib{
    height: 650px !important;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background990ib212{
    height: auto!important;
    min-height: 2400px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.alignText112{
    text-align: center!important;
    
}

.alignTet{
    text-align: left!important;
}

.alignTet2{
    text-align: right!important;
}

.mvrght{
    margin-left: 20px!important;
}

.background591{
    height:450px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:rgb(23, 23, 71);
}

.backgroundRetRep{
    height:auto;
    width:800px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.background591stockin{
    height:650px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:rgb(23, 23, 71);
}

.background591100{
    height:250px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:rgb(23, 23, 71);
}

.background591100Tr{
    height:280px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:rgb(23, 23, 71);
}

.background124{
    height:650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}


.backcolor{
    background-color: rgb(23, 23, 71);
}


.formdesign101{
    margin-top: 0px;
    background-color: white;
    width: 680px;
    
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.formdesign110{
    margin-top: 80px !important;
    background-color: white;
    width: 980px;
    
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}
.formdesign510{
    margin-top: 80px !important;
    margin-left: 50px;
    background-color: white;
    width: 1150px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.ikem{
    height:40px;
}

.formdesign510b{
    margin-top: 90px !important;
    margin-left: 50px;
    background-color: white;
    width: 1170px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.visibe{
    visibility : visible;
}

.hidden{
    visibility : hidden; 
    outline : none; 
    pointer-events : none; 
}

.formdesign510b212{
    margin-top: 60px !important;
    margin-left: 50px;
    background-color: white;
    width: 1170px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.formdesign510b21{
    margin-top: 90px !important;
    margin-left: 50px;
    background-color: white;
    width: 600px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.formdesign510b21Cat{
    margin-top: 90px !important;
    margin-left: 10px;
    background-color: white;
    width: auto;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}


.formdesign511{
    margin-top: 80px !important;
    margin-left: 10px;
    background-color: white;
    width: 700px;
    margin-right: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.formdesign50211{
    margin-top: 80px !important;
    margin-left: 10px;
    background-color: white;
    width: 700px;
    margin-right: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

.formdesign50211Tr{
    margin-top: 80px !important;
    margin-left: 10px;
    background-color: white;
    width: 650px;
    margin-right: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

.formdesign610{
    margin-top: 40px !important;
    background-color: white;
    width: 1150px;
    
    
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.background101{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background11{
    border:solid;
    border-color: grey;
    text-align: center;
    
}


.formdesign11{
    margin-top: 20px;
    background-color: white;
   
}

.btnwidth10{
    width: 100%;
    
}

.editselect{
    color: rgb(12, 12, 145);
    
}
.textdec{
    text-decoration: none;
}

.adjust{
    width:fit-content;
}

.adjust2{
    width:fit-content;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    
}

.adjust2xxxx{
    width:fit-content;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    
}

.adjust222{
    width:81px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    
}

.adjust223{
    width:101px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    
}

.adjust224{
    width:120px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    
}
.adjust225{
    width:170px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    
}

.adjust2b{
    width:fit-content;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left!important ;
    
}

.cartBtnNew{
    
    height: 30px !important;
    
    
}




.adjust2bc{
    width:fit-content;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right!important ;
    
}

.searchOptions{
    position:relative;
}

.detailoption{
    position:relative;
}

.detailplacement{
    position:absolute;
    top:460px;
    left:0px
}

.searchPlacement{
    position:absolute;
    top:253px;
    left:0px;
}

.adjust20{
    width: 20px;
    font-size: 12.5px;
    
}

.adjust30{
    width: 30px;
    font-size: 12.5px;
    
}

.adjust10{
    width:fit-content;
    font-size: 11px;
    height:fit-content;
    
}
.set1{
    margin-top: 1px!important;
}

.increasewidth{
    width:220px;
}

.cartBtn14{
    width:80px;
    height:25px;
    margin-left: 10px;
}

.theight{
    height: 36px !important;
}
.set2{
    margin-left: -150px!important;
}

.set3{
   color:blue;
}



.space{
    margin-left: 20px;
    
}


.space3{
    margin-left: 20px;
    margin-bottom: 10px;
}

.space2{
    margin-bottom: 10px;
}
.alignroomsred{
    
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    width:130px;
    height:80px;
    background-color: red;
    color:silver;
}

.alignroomsgreen{
    
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    width:130px;
    height:80px;
    color:white;
}

.size{
    font-size: 13px;
    color:white;
}
.size2{
    font-size: 9px;
    color:white;
}
.top{
    margin-top: -15px;
}
.formsize{
    width:280px;
}

.formsize2{
    width:160px;
}
.formsize21{
    width:160px;
}
.formsize51{
    width:160px !important;
    background-color: lightyellow !important;
    color:black !important;
    border-color: black !important;
    border-style: solid !important;
    text-align: center !important;

}

.formsize51kb{
    width:108px;
    background-color: rgb(23, 23, 71);
    color:white;
    border-color: white;
    border-style: solid;
    text-align: center;
    margin-top:15px;

}

.formsize51kbc{
    width:109px;
    background-color: rgb(23, 23, 71);
    color:white;
    border-color: white;
    border-style: solid;
    text-align: center;
    margin-top:39px;
    margin-left:-166px;

}

.formsize51kbe{
    background-color: rgb(23, 23, 71);
    color:white;
    border-color: white;
    border-style: solid;
    text-align: center;
    margin-top:-55px;
    margin-left:836px;
    width:129px;
}

.formsize51kbf{
    width:109px;
    background-color: rgb(23, 23, 71);
    color:white;
    border-color: white;
    border-style: solid;
    text-align: center;
    margin-top:-57px;
    margin-left:682px;
}


.formsize51kbd{
    width:109px;
    background-color: rgb(23, 23, 71);
    color:white;
    border-color: white;
    border-style: solid;
    text-align: center;
    margin-left:-164px;
    margin-top:38px;
}



.formsize51kbg{
    width:109px;
    background-color: rgb(23, 23, 71);
    color:white;
    border-color: white;
    border-style: solid;
    text-align: center;
    margin-left:115px;
    margin-top:-56px;
}

.alignBtn{
    margin-top: -183px;
    margin-left: 350px;
}
.formsizeAA{
    width:250px !important;
    height:40px !important;
    background-color: rgb(23, 23, 71) !important;
    color:white !important;
    border-color: white !important;
    border-style: solid !important;
    text-align: center !important;

}

.formsizezzzAA{
    width:250px!important;
    height:40px !important;
    background-color: rgb(23, 23, 71) !important;
    color:white !important;
    border-color: white !important;
    border-style: solid !important;
    text-align: center !important;

}

.headingspace{
    margin-left: 40px;
    margin-top: 4px;
}
.setthis{
    
    
    height: 37.8px !important;
    
}

.setthis5{
    
    margin-left: 10px!important;
    margin-top: -102px!important;
    height: 37.8px !important;
    
}

.setthis6{
    
    margin-left: 10px!important;
    margin-top: -102px!important;
    height: 37.8px !important;
    
}

.setthis3{
    
    margin-left: 10px!important;
    margin-top: -102px!important;
    height: 37.8px !important;
    
}

.setthis4{
    
    margin-left: 310px!important;
    margin-top: -102px!important;
    height: 37.8px !important;
    
}

.setthis2{
    margin-left: 280px;
    
}

.bodyspace{
    margin-left: 40px;
    
}

.innerspace{
    margin-left: 60px;
    
}

.formsize51b{
    width:160px;
    background-color: rgb(23, 23, 71);
    color:white;
    border-color: white;
    border-style: solid;
    text-align: center;

}

.formsize510{
    width: 160px !important;
    height: 40px!important;
    margin-top: 14px !important;
    background-color: rgb(23, 23, 71) !important;
    color:white !important;
    border-color: white !important;
    border-style: solid !important;
    text-align: center !important;

}

.formsize53{
    width:120px;
    background-color: rgb(23, 23, 71);
    color:white;
    border-color: white;
    border-style: solid;
    text-align: center;
    margin-left: 17px;
    margin-top: 15px;

}

.adjustText{
    color:rgb(23, 23, 71);
}
.moveagain{
    margin-left: -0px;
}


.resvbtn{
    
    height:30px;
    width:80px;
    
}

.textSized{
    font-size: 12px;
    font-style: italic;
    line-height: 3px;
}


.blinkblink{
   
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%		{ color: silver;}
    25%		{ color:rgb(23, 23, 71);}
    50%		{ color: silver;}
    75%		{ color: rgb(23, 23, 71);}
    100%	{ color: silver;}
}

.blinkblink2{
   
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%		{ color: red;}
    25%		{ color:blue;}
    50%		{ color: red;}
    75%		{ color: blue;}
    100%	{ color: red;}
}



.formsize3{
    width:50px !important;
}

.formsize3bb{
    width:150px !important;
    height: 50px !important;
}

.formsize6{
    width:200px;
}

.shiftinput{
    margin-left:20px;
}
.formsize4{
    width:180px;
}
.valid{
    color:red;
}

.formatnew{
    color:silver;
}

.formatnew2{
    color:white;
}

.buttnheight{
    height: 60px;
    width: 117px;
    
}

.buttnheight2{
    height: 60px;
    width: 120px;
    
}
.display{
    float:left;
}
.borders{
    border: solid;
    border-width: 1px;
    height:500px;
    margin-left:5px;
}
.border2{
    margin-left: 25px;
}
.black2{
    background-color:black;
}

.pagebody2{
    height:300px;
    width:100%;
    background-color: rgb(23, 23, 71);
}

.pagebody12{
    height:490px;
    width:100%;
    background-color: rgb(23, 23, 71);
}

.alignImg2{
    float: left;
    
}

.alignImg2mmmm{
    float: left;
    margin-top: -140px;
}

.alignImg2Dt{
    float: left;
    margin-top: -30px !important;
}

.movebtn{
    margin-left:15px;
}
.movebtn2{
    margin-left:850px;
}

.formsize51Now{
   
   text-align: center;
    
}

.movebtn3{
    width:160px;
    margin-left: 15px;
}

.movebtn31{
    width:190px;
    margin-left: 15px;
}

.rowset{
    margin-left: 380px !important;
}

@media print{
    .printing{
        display: none !important;
    }
        
}


.textSize{
    font-size: 12px;
    font-style: italic;
    line-height: 3px;
}

.textSize30{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.textSize31{
    font-size: 12px;
    font-style: italic;
    
   
}

.textareawidth{
    width: 280px !important;
}

.adjust5{
    width:fit-content;
    font-size: 14px;

    
}
.editModal{
    width: 350px !important;
}

.adjust5nwww{
    width: 180px !important;
    font-size: 14px;
    color:blue;

    
}
.adjust5b{
    width:fit-content;
    font-size: 14px;
    text-align: center;
    color: blue !important;

    
}

.adjust50{
    width:fit-content;
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    
}

.adjust50b{
    width: 180px !important;
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
    
}

.fontS{
    font-size: 14px;
}

.gap{
    margin-left: 20px;
}

.gap6{
    margin-left: 20px!important;
}
.textcolor{
    color:blue;
}

.btnwidthp{
    width:280px !important;
}

.selectadjuster{
    margin-top: 2px !important;
}

.btnadjuster{
    margin-top: -7px !important;
}




