.background15{
    height:860px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.setthispage{
    width: 100% !important;
}

.adjust50ssss{
    width: 120px !important;
}

.setGR{
    width: 120px !important;
}

.alignTetssss{
    text-align: left !important;
}

.spaceright{
   width: 200px !important;
}

.spaceleft{
    margin-left: 20px !important;
}

.background150{
    height:1050px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background1505{
    height:850px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background1505nw{
    height:1150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background150server{
    height:100vh;;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 23, 71);
}



.formdesign15{
    margin-top: 0px;
    background-color: white;
    width: 1000px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.formdesign15server{
    margin-top: 0px;
    background-color: white;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.btnwidth15{
    width: 100%;
    
}

.alignImg{
    float: left;
}

.textSize{
    font-size: 12px !important;
    font-style: italic !important;
    line-height: 3px !important;
}

.adjust2{
    width:fit-content !important;
    
}
.formsize2{
    width:200px;
    margin-left: 5px;
}
.formsize3{
    width: 180px !important;
    height:40px !important;
}
.formsize4{
    width:140px !important;
   
}
.aligntext{
    margin-left: 20px!important;
    width:140px!important;
    height:40px!important;
}
.aligntext2{
    margin-left: 20px;
}

.aligntext3{
    margin-left: 60px;
}

.aligntext4{
    margin-left: 100px;
}

.aligntext1{
    margin-left: 30px;
    width:140px;
    height:40px;
}

.pagebody2{
    height:300px;
    width:100%;
    background-color: rgb(23, 23, 71);
}
.aligntext5{
    margin-left: 70px;
}

.aligntext6{
    margin-left: 22px;
}

.flipright{
    margin-left: 10px;
}

.oprbtn{
    margin-left: 10px;
}

.adjust5{
    width:fit-content;
    
}





