.Dashbackground{
    position:relative;
    width:100%;
    height:110vh;
    background-color: rgb(23, 23, 71);

}

.missionvission{
    height:100%;
    position:relative;
    background-color:white;

}
.tableBody{
    width:100%;
    padding: 20px;
}

.editsub2{
    font-size: 13px;
    float:left!important;
}
.editsub{
    font-size: 19px;
    float:left!important;
    
}
.missionStatement{
    position:absolute;
    left:0px;
    padding:20px;
    top:96px;
    color:black;
    width:100%;
}

.size13{
    font-size: 20px!important;
    position:absolute;
    right:30px;
    top:15px;
}

.miniDash{
    position:absolute;
    top:30px;
}


.heading{
    color:silver;
    position:absolute;
    left:20px;
    top:10px;
}

.heading2{
    color:silver;
    position:absolute;
    left:670px;
    top:203px;

}

.logout{
    font-size: 13px;
}

.DashSheet1{
    position: absolute;
    width:250px;
    height:auto;
    background-color:darkviolet;
    color:white;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 5px!important;
    left:15px;
    top:15px;
    
}

.DashSheet2{
    position: absolute;
    width:250px;
    height:auto;
    background-color:darkviolet;
    color:white;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 5px!important;
    left:278px;
    top:15px;
    
}

.DashSheet3{
    position: absolute;
    width:250px;
    height:auto;
    background-color:darkviolet;
    color:white;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 5px!important;
    left:540px;
    top:15px;
    
}

.DashSheet4{
    position: absolute;
    width:250px;
    height:auto;
    background-color:darkviolet;
    color:white;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 5px!important;
    left:278px;
    top:100px;
    

}

.DashSheet5{
    position: absolute;
    width:250px;
    height:auto;
    background-color:darkviolet;
    color:white;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius:5px!important;
    left:15px;
    top:100px;
    
}

.DashSheet6{
    position: absolute;
    width:250px;
    height:auto;
    background-color:orangered;
    color:white;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 5px!important;
    left:540px;
    top:100px;
    
}



.textEdit1{
   color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
}

.textEdit2{
   color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
}

.placeTxt{
    font-size: 12px!important;
    color:silver;
    position:absolute;
    left:60px;
    top:40px;
}

.chart{
    position:absolute;
    top:250px;
    left:15px;
    width:65%;
    
}

.adjust5{
    font-size:15px;
    color:mediumblue;
    font-weight: bold;
}





@media (max-width: 700px) {
    .Dashbackground{
        position:relative;
        width:100%;
        height:100vh;
        background-color: rgb(23, 23, 71);
    
    }

    .missionvission{
        height:100%;
        position:relative;
        background-color:white;
    
    }
    .tableBody{
        width:100%;
        padding: 20px;
    }
    
    .editsub2{
        font-size: 13px;
        float:left!important;
        margin-right: 40px!important;
    }

    .editsub{
        font-size: 13px;
        float:left!important;
        margin-right: 40px!important;
    }

    .missionStatement{
        position:absolute;
        left:10px;
        top:96px;
        color:black;
        width:100%;
    }
    
    .size13{
        font-size: 20px!important;
        position:absolute;
        right:30px;
        top:15px;
    }

    .mobileText{
        font-size:14px;
    }
    
    .miniDash{
        position:absolute;
        top:50px;
    }
    
    .heading{
        color:silver;
        position:absolute;
        left:20px;
        top: 5px !important;
    }

    .heading2{
        color:silver;
        position:absolute;
        left:250px;
        top:280px;
    
    }
    
    .DashSheet1{
        position: absolute;
        width:180px;
        height:60px;
        background-color:darkviolet;
        color:white;
        font-weight:bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
        /* border-radius: 5px; */
        left:5px;
        top:15px;
        
    }
    
    .DashSheet2{
        position: absolute;
        width:180px;
        height:60px;
        background-color:darkviolet;
        color:white;
        font-weight:bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
        /* border-radius: 10px!important; */
        left:191px;
        top:15px;
        
    }
    
    .DashSheet3{
        position: absolute;
        width:180px;
        height:60px;
        background-color:darkviolet;
        color:white;
        font-weight:bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
        /* border-radius: 10px!important; */
        left:191px;
        top:90px;
        
    
    }
    
    .DashSheet4{
        position: absolute;
        width:180px;
        height:60px;
        background-color:darkviolet;
        color:white;
        font-weight:bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
        /* border-radius: 10px!important; */
        left:5px;
        top:167px;
        
    
    }
    
    .DashSheet5{
        position: absolute;
        width:180px;
        height:60px;
        background-color:darkviolet;
        color:white;
        font-weight:bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
        /* border-radius: 10px!important; */
        left:5px;
        top:90px;
        
    }
    
    .DashSheet6{
        position: absolute;
        width:180px;
        height:60px;
        background-color:orangered;
        color:white;
        font-weight:bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
        /* border-radius: 10px!important; */
        left:191px;
        top:167px;
        
    }
    
    
    
    .textEdit1{
       color:white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: normal;
        font-size: 18px;
    }
    
    .textEdit2{
       color:white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: normal;
        font-size: 18px;
    }

    .chart{
        position:absolute;
        top:315px;
        left:15px;
        width:95%;
        
    }

    .placeTxt{
        font-size: 13px;
        color:silver;
        position:absolute;
        left:42px;
        top:40px;
    }
    
}

