.background15{
    height: 450px !important;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.formdesign15{
    margin-top: 0px;
    background-color: white;
    width: 280px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.formdesign150{
    margin-top: 0px;
    background-color: white;
    width: 280px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.btnwidth15{
    width: 100%;
    
}

.alignImg{
    float: left;
}

.textSize{
    font-size: 12px;
    font-style: italic;
    line-height: 3px;
}

.adjust2{
    width:fit-content;
    
}

.pagebody3{
    height:150px;
    background-color: rgb(23, 23, 71);

}



