.background10{
    height:650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}
.backcolor{
    background-color: rgb(23, 23, 71);
}


.formdesign10{
    margin-top: 0px;
    background-color: white;
    width: 680px;
    
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.formdesign11{
    margin-top: 0px;
    background-color: white;
    width: 980px;
    
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
}

.background101{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(23, 23, 71);
}

.background11{
    border:solid;
    border-color: grey;
    text-align: center;
    
}


.formdesign11{
    margin-top: 20px;
    background-color: white;
   
}

.btnwidth10{
    width: 100%;
    
}

.editselect{
    color: rgb(12, 12, 145);
    
}
.textdec{
    text-decoration: none;
}

.adjust{
    width:fit-content;
}

.space{
    margin-left: 20px;
}

.alignroomsred{
    
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    width:130px;
    height:80px;
    background-color: red;
    color:silver;
}

.alignroomsgreen{
    
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    width:130px;
    height:80px;
    color:white;
}

.size{
    font-size: 13px;
    color:white;
}
.size2{
    font-size: 9px;
    color:white;
}
.top{
    margin-top: -15px;
}
.formsize{
    width:280px;
}

.formsize2{
    width:160px;
}
.formsize3{
    width:50px;
}
.formsize6{
    width:200px;
}

.shiftinput{
    margin-left:20px;
}
.formsize4{
    width:180px;
}
.valid{
    color:red;
}

.formatnew{
    color:silver;
}

.formatnew2{
    color:white;
}

.buttnheight{
    height: 60px;
    width: 117px;
    
}

.buttnheight2{
    height: 60px;
    width: 120px;
    
}
.display{
    float:left;
}
.borders{
    border: solid;
    border-width: 1px;
    height:fit-content;
    margin-left:5px;
}
.border2{
    margin-left: 25px;
}

.adjust{
    width:fit-content;
    font-size: 12.5px;
}

.cartBtn{
    width:20px;
    height:20px;
}

.cartBtn2{
    width:50px;
    height:25px;
    margin-left: 10px;
}

.cartBtn3{
    width:50px;
    height:27px;
    margin-left: 5px;
}
.texted{
    font-size:10px;
    text-align: center;
}
.texted2{
    font-size:10px;
    text-align: left;
    margin-left: 5px;
    font-weight: bold;
    
}

.formsize3{
    width:100px;
}

.fmtbtn{
    background-color:none;
    border-style: none;
    width:2px;
    height:2px;

}


body {
    background-color: white;
  }
  .print-source {
    display: none;
    background-color: white;
  }
  
  body > .print-source {
    display: block;
  }
  
  @media print {
    .print-source {
      display: block;
      background-color: white;
    }
}

.formsizeA{
    width:150px;
    font-style: bold;
    margin-left: 15px;
    

}
.fmtcost{
    margin-left: 5px;
    float: left;
    
    
}
.texted4{
    font-size:10px;
    font-weight: bold;
    margin-left: 5px;
    
    
}
.formsizeB{
    width:56px;
    height: 27px;
    font-style: bold;
    margin-left: 8px;
    display:inline-block;
    margin-top: 9px;
    
}
.textedM{
    font-size:13px;
    text-align: left;
    
}
.cartBtn4{
    width:80px;
    height:25px;
    margin-left: 10px;
}

.bgc{
    background-color:black;
}

.cartBtn20{
    width:100px;
    height:25px;
    margin-left: 10px;
}
